.advantages {
  --feature-subtitle-color: #2e35ac;
  --primary-accent: var(--themed-bright);
  --secondary-accent: #0041ca;
  --gradient-angle: 161deg;
  --gradient-color-stop: 66%;

  padding-block: 97px 110px;
  background-color: var(--base-neutral);

  @include vp-1200 {
    padding-block: 93px 72px;
  }

  @include vp-767 {
    padding-block: 64px 42px;
  }

  h2 {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 11px;
    font: 600 54px / 65px $ff-alumni-sans;
    letter-spacing: 0.03em;
    text-align: center;

    @include vp-1200 {
      margin-bottom: 17px;
      padding-inline: 0 22px;
      font: 600 42px / 50px $ff-alumni-sans;
    }

    @include vp-767 {
      grid-column: full;
      margin-bottom: 20px;
      padding-inline: 0 18px;
      font: 600 32px / 38px $ff-alumni-sans;
    }
  }
}

.advantages__list-wrapper {
  padding: 24px 65px 24px 80px;
  overflow: hidden;

  @include vp-1200 {
    padding-inline: 0;
  }

  @include vp-767 {
    grid-column: full;
  }

  dl {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: max-content;
    grid-auto-flow: dense;
    column-gap: 10px;
    row-gap: 148px;
    margin: 0;

    @include vp-1200 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 30px;
      row-gap: 39px;
      padding-right: 5px;
    }

    @include vp-767 {
      grid-template-columns: minmax(0, 1fr);
      column-gap: 0;
      row-gap: 36px;
      padding-right: 0;
    }
  }
}

.advantages__item {
  position: relative;
  display: grid;
  grid-template-areas:
    "feature title"
    "feature description";
  column-gap: 30px;
  grid-auto-rows: min-content;

  @include vp-1200 {
    grid-template-columns: min-content minmax(0, 1fr);
  }

  @include vp-767 {
    grid-template-areas:
      "feature"
      "title"
      "description";
    grid-template-columns: initial;
    justify-items: center;
  }

  &:first-child {
    --gradient-angle: -215deg;
    --gradient-color-stop: 44%;
  }

  &::before {
    content: "";
    position: absolute;
    top: -72px;
    left: -19px;
    display: block;
    width: 103%;
    height: 2px;
    background-color: var(--themed-bright);
    opacity: 0.2;

    @include vp-1200 {
      display: none;
    }
  }

  dt {
    grid-area: title;
    align-self: start;
    padding-block: 4px;
    font: 700 22px / 1.5 $ff-roboto-condensed;

    @include vp-1200 {
      padding-block: 0;
      font: 700 20px / 1.5 $ff-roboto-condensed;
    }

    @include vp-767 {
      padding-top: 6px;
    }
  }

  dd {
    display: contents;
    margin: 0;
  }

  b {
    grid-area: feature;
    align-self: start;
    display: flex;
    flex-direction: column;
    font: 700 71px / 1 $ff-roboto-condensed;
    background: linear-gradient(
      var(--gradient-angle),
      var(--primary-accent) 0%,
      var(--secondary-accent) var(--gradient-color-stop)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include vp-1200 {
      font: 700 58px / 1 $ff-roboto-condensed;
    }
  }

  span {
    font: 400 14px / 1.2 $ff-roboto-condensed;
    -webkit-text-fill-color: initial;

    @include vp-767 {
      text-align: center;
    }
  }

  p {
    margin: 0;
    grid-area: description;
    align-self: start;
    font: 300 16px / 1.4 $ff-roboto-condensed;

    @include vp-767 {
      padding-inline: 46px;
      text-align: center;
    }
  }

  &--featured {
    grid-column: 2 / 3;
    grid-row: span 2;
    order: -1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 11px 54px 6px 41px;
    padding: 46px 14px 55px;
    text-align: center;
    color: var(--base-neutral);
    background-color: var(--themed-neutral);

    @include vp-1200 {
      order: initial;
      grid-column: span 2;
      width: 66%;
      margin: 8px 0 0 5px;
      padding: 33px 116px 41px;
    }

    @include vp-767 {
      grid-column: initial;
      width: 100%;
      margin: 0;
      margin-block: 9px 5px;
      padding: 32px 54px 44px;
    }

    dt {
      font-size: 0;
    }

    b {
      align-self: center;
      margin-bottom: 3px;
      font: 700 74px / 1 $ff-roboto-condensed;
      -webkit-text-fill-color: initial;
    }

    p {
      @include vp-1200 {
        align-self: center;
        text-align: center;
      }

      @include vp-767 {
        padding-inline: 21px;
      }
    }

    span {
      margin-bottom: 31px;
      padding-top: 2px;
      font: 700 26px/ 1.5 $ff-roboto-condensed;

      @include vp-1200 {
        margin-top: -2px;
        margin-bottom: 13px;
        padding-top: 0;
        font: 700 22px/ 1.5 $ff-roboto-condensed;
      }

      @include vp-767 {
        margin-top: -5px;
        margin-bottom: 7px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 25%;
      right: -25%;
      display: block;
      width: 20px;
      height: 50%;
      background-color: var(--base-neutral);
    }
  }
}
