.contacts {
  min-height: 337px;
  padding-top: 49px;
  padding-left: 121px;

  @include vp-1200 {
    padding: 62px 133px 41px;
  }

  @include vp-767 {
    padding: 64px 15px 62px;
  }

  h2 {
    margin: 0;
    margin-bottom: 12px;
    font: 600 54px / 1.56 $ff-alumni-sans;
    letter-spacing: 0.03em;

    @include vp-1200 {
      font: 600 42px / 50px $ff-alumni-sans;
    }

    @include vp-767 {
      font: 600 32px / 38px $ff-alumni-sans;
    }
  }

  @include vp-1200 {
    min-height: initial;
  }
}

.contacts__wrapper {
  position: relative;
  padding-top: 14px;
  overflow: hidden;
  columns: 2;
  column-gap: 113px;

  @include vp-1200 {
    column-gap: 121px;
    margin-left: -3px;
    padding-top: 21px;
  }

  @include vp-767 {
    columns: initial;
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    margin-left: 0;
    padding-top: 22px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 51%;
    display: block;
    width: 1px;
    height: 66%;
    background-color: var(--border-color);

    @include vp-1200 {
      left: 53%;
    }

    @include vp-767 {
      display: none;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 4px;
    font: 700 16px / 1.5 $ff-roboto-condensed;
    font-style: normal;

    @include vp-1200 {
      margin-bottom: 6px;
      font: 700 20px / 1.5 $ff-roboto-condensed;
    }
  }

  abbr {
    text-decoration: none;
  }

  p {
    margin: 0;
    font: 400 14px / 21px $ff-roboto-condensed;
    font-style: normal;

    @include vp-1200 {
      font: 400 18px / 27px $ff-roboto-condensed;
    }
  }

  a {
    --scale-top: scaleX(0);
    --scale-bottom: scaleX(0);
    --color: inherit;

    position: relative;
    top: -3px;
    font: 400 14px / 21px $ff-roboto-condensed;
    color: var(--color);

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      z-index: 1;
      display: block;
      width: 100%;
      height: 0.06em;
      background-color: currentColor;
      transform: var(--scale-top);
      transform-origin: 50%;
      transition: 300ms transform ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      z-index: 1;
      display: block;
      width: 100%;
      height: 0.06em;
      background-color: currentColor;
      transform: var(--scale-bottom);
      transform-origin: 50%;
      transition: 300ms transform ease-out;
    }

    @include vp-1200 {
      font: 400 18px / 27px $ff-roboto-condensed;
    }

    @include hover {
      --scale-bottom: scaleX(1);
    }

    @include focus {
      --scale-top: scaleX(1);
      --scale-bottom: scaleX(1);

      outline: none;
    }

    @include active {
      --color: var(--base-bright);

      opacity: 0.8;
    }
  }
}

.contacts__item {
  position: relative;
  padding-left: 3px;
  padding-bottom: 16px;
  break-inside: avoid;

  @include vp-1200 {
    min-width: 221px;
    padding-bottom: 19px;
  }

  @include vp-767 {
    display: grid;
    justify-content: start;
    padding-left: 0;
    padding-bottom: 0;
  }
}
