.main-footer {
  --wrapper-width: 1160px;
  --wrapper-padding: 103px;
  --blocks-number: 2;
  --space: max(
    var(--wrapper-padding),
    calc((100% * var(--blocks-number) - var(--wrapper-width)) / 2)
  );

  --primary-color: var(--themed-dark);
  --secondary-color: var(--base-light);
  --border-color: #74819c;

  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;

  @include vp-1200 {
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50%;
    height: 1px;
    background-color: var(--border-color);

    @include vp-1200 {
      display: none;
    }
  }
}

.main-footer__section {
  padding-right: var(--space);
  background-color: var(--secondary-color);

  &--accent {
    padding-right: 0;
    padding-left: var(--space);
    color: var(--base-light);
    background-color: var(--primary-color);
  }
}
