.person-card {
  --content-transform: translateY(65.5%);
  --content-opacity: 0;
  --content-bg-color: transparent;
  --overflow-y: clip;
  --height: 295px;

  display: grid;
  grid-template-columns: minmax(1fr, 260px);
  grid-template-rows: minmax(0, 294px);
  aspect-ratio: 260 / 294;
  background-color: var(--themed-quiet);
  overflow: hidden;
  transition: 300ms ease-out;

  @include hover {
    --content-transform: translateY(0%);
    --content-opacity: 1;
    --content-bg-color: var(--themed-dark-89);
    --overflow-y: auto;
    --height: auto;
  }

  @include focus {
    --content-transform: translateY(0%);
    --content-opacity: 1;
    --content-bg-color: var(--themed-dark-89);
    --overflow-y: auto;
  }
}

.person-card__image {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  aspect-ratio: 260 / 294;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include vp-1023 {
    aspect-ratio: 309 / 386;
  }

  @include vp-767 {
    aspect-ratio: 270 / 386;
  }
}

.person-card__content {
  position: relative;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--height);
  min-width: 0;
  padding: 54px 25px 35px;
  aspect-ratio: 260 / 294;
  overflow-y: var(--overflow-y);
  color: var(--base-light);
  background-color: var(--content-bg-color);
  transform: var(--content-transform);
  transition: 300ms ease-out;

  h3 {
    flex-shrink: 0;
    margin: 0;
    font: 700 18px / 1.3 $ff-roboto-condensed;
    text-align: center;
  }

  p {
    margin: 0;
    text-align: center;
    opacity: var(--content-opacity);
  }

  ul {
    margin: 0;
    padding: 0;
    padding-top: 31px;
    padding-left: 46px;
    font: 400 14px / 1.5 $ff-roboto-condensed;
  }

  li {
    margin: 0;
    padding-bottom: 13px;
  }
}
