.promo-card {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.promo-card__description {
  flex: 1 1 48%;
  display: grid;
  grid-template-areas:
    "title date"
    "subtitle subtitle"
    "button button";
  grid-template-columns: 58% 41%;
  gap: 10px;
  max-width: 500px;
  padding: 81px 85px 84px 77px;
  background-color: var(--base-bright);
  color: var(--base-light);

  @include vp-1200 {
    flex: 1 1 46%;
    row-gap: 5px;
    padding: 47px 54px 51px 44px;
  }

  @include vp-767 {
    max-width: 100%;
    grid-template-columns: 59% 41%;
  }

  h2 {
    grid-area: title;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 3px;
    padding-left: 7px;
    font: 600 82px / 79px $ff-alumni-sans;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    word-break: break-word;

    @include vp-1200 {
      margin-bottom: 5px;
      padding-left: 7px;
      font: 600 48px / 46px $ff-alumni-sans;
      text-align: left;
    }
  }

  dl {
    grid-area: date;
    justify-self: end;
    margin: 0;
    padding: 0;
  }

  p {
    grid-area: subtitle;
    margin: 0;
    margin-bottom: 35px;
    font: 400 18px / 1.5 $ff-roboto-condensed;

    @include vp-1200 {
      margin-bottom: 24px;
      padding-right: 13px;
      font: 400 12px / 1.5 $ff-roboto-condensed;
      text-align: center;
    }
  }

  a {
    --bg-color: transparent;
    --border-color: var(--base-light);
    --text-color: inherit;

    align-self: start;
    display: block;
    padding: 25px;
    font: 700 12px / 14px $ff-roboto-condensed;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
    border: 4px solid var(--border-color);
    background-color: var(--bg-color);
    user-select: none;
    transition: 300ms ease-out;

    @include vp-1200 {
      padding: 12px;
      font: 700 10px / 12px $ff-roboto-condensed;
      border: 2px solid var(--base-light);
    }

    @include hover {
      --bg-color: var(--base-quiet);
      --border-color: var(--base-light);
      --text-color: inherit;
    }

    @include focus {
      --bg-color: var(--base-quiet);
      --border-color: var(--base-dark);
      --text-color: inherit;
    }

    @include active {
      --bg-color: var(--base-quiet);
      --border-color: var(--themed-light);
      --text-color: inherit;
    }

    &.is-disabled {
      --text-color: var(--base-light);
      --border-color: var(--themed-quiet);
      --bg-color: var(--themed-quiet);

      opacity: 0.8;
      pointer-events: none;
    }
  }
}

.promo-card__buttons-wrapper {
  grid-area: button;
  display: grid;
  row-gap: 20px;
}

.promo-card__timing {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--base-light);

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @include vp-1200 {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  dt {
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    font: 400 18px / 1.5 $ff-roboto-condensed;
    word-break: break-all;

    @include vp-1200 {
      margin-bottom: 1px;
      font: 400 12px / 1.5 $ff-roboto-condensed;
    }
  }

  dd {
    border-top: 1px solid var(--base-light);
    margin: 0;
    padding: 0;
  }

  time {
    display: flex;
    column-gap: 0.15em;
    font: 700 40px / 1.2 $ff-roboto-condensed;
    word-break: break-all;

    @include vp-1200 {
      font: 700 24px / 1.2 $ff-roboto-condensed;
    }
  }
}

.promo-card__date {
  padding-top: 6px;
  font: 400 14px / 1.3 $ff-roboto-condensed;
  word-break: break-all;

  @include vp-1200 {
    padding-top: 1px;
    font: 400 10px / 1.3 $ff-roboto-condensed;
  }
}

.promo-card__decoration {
  --bg-url: var(--promo-bg-url-big);

  flex: 1 1 52%;
  background: var(--bg-url) no-repeat bottom;
  background-size: contain;
  background-color: var(--base-quiet);
  background-position: center;

  @media (min-width: 1200px) {
    @media (min-resolution: 2dppx) {
      --bg-url: var(--promo-retina-bg-url-big);
    }
  }

  @include vp-1200 {
    --bg-url: var(--promo-bg-url-medium);

    @media (min-resolution: 2dppx) {
      --bg-url: var(--promo-retina-bg-url-medium);
    }

    flex: 1 1 63%;
    aspect-ratio: 386 / 292;
  }

  @include vp-767 {
    --bg-url: var(--promo-bg-url-small);

    @media (min-resolution: 2dppx) {
      --bg-url: var(--promo-retina-bg-url-small);
    }

    flex: 1 1 100%;
    min-height: 292px;
    background-size: cover;
    aspect-ratio: 290 / 292;
  }
}
