.reviews {
  padding-block: 21px;

  h2 {
    margin: 0;
    margin-bottom: 22px;
    padding-left: 11px;
    font: 600 54px / 65px $ff-alumni-sans;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
