.social {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 11px;

  @include vp-1200 {
    gap: 9px;
  }
}

.social__item::marker {
  color: transparent;
}

.social__link {
  --icon-size: 25px;
  --color: var(--base-light);

  display: grid;
  place-items: center;
  min-width: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--color);

  @include vp-1200 {
    --icon-size: 26px;
  }

  @include hover {
    --color: var(--themed-quiet);
  }

  @include focus {
    --color: var(--themed-quiet);
  }

  @include active {
    opacity: 0.8;
  }
}

.social__img {
  width: 100%;
  height: auto;
}
