.subscription {
  --bg-url: var(--subscription-bg-url-big);


  position: relative;
  padding-block: 120px 82px;
  background-color: var(--base-neutral);
  overflow-x: clip;

  @include vp-1200 {
    --bg-url: var(--subscription-bg-url-medium);

    padding-block: 101px 56px;
  }

  @include vp-767 {
    padding-block: 64px 39px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -110px;
    bottom: -96px;
    width: 321px;
    height: 384px;
    background: var(--bg-url) no-repeat;
    transform: rotate(150deg);

    @include vp-1200 {
      right: -2px;
      bottom: -86px;
    }

    @include vp-767 {
      display: none;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 8px;
    font: 600 54px / 65px $ff-alumni-sans;
    letter-spacing: 0.03em;
    text-align: center;

    @include vp-1200 {
      margin-bottom: 7px;
      padding-right: 13px;
      font: 600 42px / 50px $ff-alumni-sans;
    }

    @include vp-767 {
      font: 600 32px / 38px $ff-alumni-sans;
    }
  }
}

.subscription__tabs {
  z-index: 1;
}
