.subscription {
  --bg-url: var(--subscription-bg-url-big);
  --width: 321px;
  --height: 384px;
  --right: -110px;
  --bottom: -96px;
  --transform: rotate(150deg);

  position: relative;
  padding-block: 120px 82px;
  background-color: var(--base-neutral);
  overflow-x: clip;

  @media (min-width: 1200px) {
    @media (min-resolution: 2dppx) {
      --bg-url: var(--subscription-retina-bg-url-big);
    }
  }

  @include vp-1200 {
    --bg-url: var(--subscription-bg-url-medium);
    --width: 289px;
    --height: 345px;
    --right: -10px;
    --bottom: -76px;

    @media (min-resolution: 2dppx) {
      --bg-url: var(--subscription-retina-bg-url-medium);
      --width: 289px;
      --height: 345px;
      --right: -10px;
      --bottom: -76px;
    }

    padding-block: 101px 56px;
  }

  @include vp-767 {
    padding-block: 64px 39px;
  }

  &::after {
    content: "";
    position: absolute;
    right: var(--right);
    bottom: var(--bottom);
    width: var(--width);
    height: var(--height);
    background: var(--bg-url) no-repeat;
    background-size: cover;
    transform: var(--transform);

    @include vp-767 {
      display: none;
    }
  }

  h2 {
    max-width: 90%;
    margin-top: 0;
    margin-inline: auto;
    margin-bottom: 8px;
    font: 600 54px / 65px $ff-alumni-sans;
    letter-spacing: 0.03em;
    text-align: center;

    @include vp-1200 {
      margin-bottom: 7px;
      padding-right: 13px;
      font: 600 42px / 50px $ff-alumni-sans;
    }

    @include vp-767 {
      font: 600 32px / 38px $ff-alumni-sans;
    }
  }
}

.subscription__tabs {
  z-index: 1;
}
