.video {
  display: grid;
  place-items: center;
  background-color: var(--themed-dark);

  @include vp-1200 {
    aspect-ratio: 266 / 167;
  }

  @include vp-767 {
    aspect-ratio: 320 / 167;
  }
}

.video__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  @include vp-1200 {
    aspect-ratio: 266 / 167;
  }

  @include vp-767 {
    aspect-ratio: 320 / 167;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #14367a80;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 200;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  img {
    width: 100%;
  }
}

.video__button {
  --button-size: 72px;
  --icon-size: 55% / 18%;

  position: absolute;
  z-index: 2;
  appearance: none;
  width: var(--button-size);
  height: var(--button-size);
  font-size: 0;
  background: url("../img/stack.svg#icon-play") no-repeat var(--icon-size),
    linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  border-radius: 50%;
  border: 0;
  cursor: pointer;

  @include vp-1200 {
    --button-size: 52px;
    --icon-size: 55% / 18%;
  }

  &::before {
    --stroke-size: 100px;

    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    content: "";
    width: var(--stroke-size);
    height: var(--stroke-size);
    padding: 1px;
    background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#ffffff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    @include vp-1200 {
      --stroke-size: 73px;
    }
  }
}

.video__iframe {
  width: 100%;
  height: 100%;

  @include vp-1200 {
    aspect-ratio: 266 / 167;
  }

  @include vp-767 {
    aspect-ratio: 320 / 167;
  }
}
