.container {
  --padding: 20px;
  --max-width: 1200px;
  --min-width: 290px;

  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding);

  @include vp-1200 {
    --max-width: 100%;
    --padding: 45px;
  }

  @include vp-767 {
    --max-width: 100%;
    --padding: 15px;
  }

  &--full-mobile {
    @include vp-767 {
      display: grid;
      grid-template-columns:
        [full-start] minmax(var(--padding), 1fr)
        [main-start] minmax(var(--min-width), var(--max-width)) [main-end]
        minmax(var(--padding), 1fr) [full-end];
      padding-inline: 0;
    }
  }
}
